/* Container Styles */
.homepage-container{
  display: block;
}

.homepage-header{
  font-family: "DM Sans", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 3dvh;

}

@media (max-width: 768px) {
  .homepageHeader {
    text-align: center;
    color: #333;
  }
}