.room-page-button
{
    border-radius: 10px;
    border: 1px solid blue;
    color: white;
    background-color: blue;
    width: 200px;
    height: 38px;
}
.room-page-button:hover{
    background-color: gray;
    border: 1px solid gray;
}
